@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300;400&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

 .img_1{
     border-radius:100px;
     max-width: 100px;
     max-height: 100px;
     margin-left:300px;
     margin-top:110px;
     margin-right:auto;

 }
 
  .flex_item {
    color: #5e5e5e;
    font-weight: 600;
    font-size:1.2rem;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    padding-right:50px;
    outline:0px;
    letter-spacing:1px;
  }

  .flex_item:hover{
     color: #4147B2;
}
  .text_box {
      background:#F1F8FA;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: flex-start;
      width: 1000px;
      height: 330px;
      margin: auto;
      margin-top:120px;
      border-radius: 5px;
  }

  .navbar {
      position:fixed;
      top:8rem;
      max-width:70%;
      height:1%;
      display:flex;
      justify-content:space-around;
      align-items:right;
      list-style-type: none;
      margin-left:450px;
      margin-top:50px;
  }

  .Welcome_text {
    font-weight: 400;
    font-size: 2rem;
    margin-left: 45px;
    
  }
  .about_status_1,.about_status_2{
    font-weight: 100;
    font-size: 23px;
    margin-top: 20px;
    margin-left: 45px;
    justify-content:left;
    line-height:1.2rem;
  }

  .about_status_2 {
      margin-top: 50px;
  }

 .btn, .Logo {
    text-decoration: none;
} 

.Logo{
    font-weight: 900;
    font-size: 1.6rem;
    color: #191a1d;
    margin-left:450px;
   
      
}


.Logo:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin-left: 450px ; /* This will center the border. */
    max-width: 70px; /* Change this to whatever width you want. */
    border-bottom: 10px solid #4b6cc1; /* This creates the border. Replace black with whatever color you want. */
    border-radius: 1000px;
    margin-top:7px;
    
}



.Home_nav {
    margin-top:-100px;
   
    
}
/* 
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4b6cc1;
    color: white;
    text-align: center;
  }
   */

