@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300;400&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

body{
    background:url(images/bg.png);
    background-attachment: fixed;
    background-position: center;
    
}

 .img_1{
     
     border-radius:100px;
     max-width: 100px;
     max-height: 100px;
     
    
 }
 
  .flex_item {
    color: #5e5e5e;
    font-weight: 600;
    font-size:1.2rem;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    padding-right:50px;
    letter-spacing:1px;
  } 

  .flex_item:hover{
     color: #4b6cc1;
}
  .text_box {
      background:#F1F8FA;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-items: center;
      align-items: flex-start;
      width: 1000px;
      height: 330px;
      margin: auto;
      margin-top: 80px;
      border-radius: 5px;
  }

  .navbar {
      top:8rem;
      max-width:100%;
      list-style-type: none;
      margin-top:40px;
      
     
  }

  .Welcome_text {
    font-weight: 400;
    font-size: 2rem;
    margin-left: 45px;
    
  }
  .about_status_1,.about_status_2{
    font-weight: 100;
    font-size: 23px;
    margin-top: 20px;
    margin-left: 45px;
    justify-content:left;
    line-height:1.2rem;
  }

  .about_status_2 {
      margin-top: 50px;
  }

 .btn, .Logo {
    text-decoration: none;
} 


.Logo {
    font-weight: 900;
    font-size:1.6rem;
    color: #191a1d;
    margin-top: -1px;

 
}

.Logo:after {
    content: "";                
    display: block;                    
    max-width: 70px;                   
    border-bottom: 10px solid #4b6cc1;   
    border-radius: 1000px;
    margin-top: 5px;
    
}

.Home_nav {
    margin-top:-85px; 
    display:flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    margin-left: 50px;
  
}

.main{
  display:flex;
  justify-content: center;
  margin-top:100px;
  margin-right: 250px;

}

.social{
    position: fixed;
    max-height:2px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-300px, 0);
    margin-top: -160px;
  }
  
  .social a {
    color: #fff;
    background: #c3dbe2;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
  }
  
  .social a:hover{
    transform: translate(50px, 0);
  }
  
  .social a:nth-child(1) i{
    color: #1DA0F0;
  }
  
  .social a:nth-child(2) i{
    color: #333333;
  }
  
  .social a:nth-child(3) i{
    color:#1DA0F0 ;
    
  }
  
  .social a:nth-child(4) i{
    color: #1DA0F0;
  }

