@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300;400&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

body{
    background:url(images/bg.png);
    background-attachment: fixed;
    background-position: center;
    
}

 .img_1{
    display:block; 
     border-radius:100px;
     max-width: 100px;
     max-height: 100px;
 }
 
  .flex_item {
    color: #5e5e5e;
    font-weight: 600;
    font-size:1.2rem;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    padding-right:10px;
    letter-spacing:1px;
  } 

  .flex_item:hover{
     color: #4b6cc1;
}
  .text_box {
      background:#F1F8FA;
      display:block;
      justify-content: center;
      max-width:1000px;
      height: 550px;
      border-radius: 5px;
      margin:auto;
      margin-top:50px;
      padding:10px;
     
  }

  .navbar {
      list-style-type: none;
      margin-top:40px;
      
  }

  .Welcome_text {
    font-weight: 400;
    font-size: 3rem;
    margin-left: 45px;
    
  }

  .text{
    font-weight: 100;
    font-size: 2rem;
    margin-top:-20px;
    justify-content:left;
    line-height:160%;
    padding: 50px;
    text-decoration: none;
  }
  .about_status_2 {
      margin-top: -50px;
      font-size: 2rem;
      font-weight: 100;
      padding: 50px;
      text-decoration: none;
  }

  .btn, .Logo,.about_status_1 {
      text-decoration: none;
  } 


    .Logo {
        font-weight: 900;
        font-size:1.6rem;
        color: #191a1d;
    }

    .Logo:after {
        content: "";                
        display: block;                    
        width: 70px;                   
        border-bottom: 10px solid #4b6cc1;   
        border-radius: 10px;
        margin-top: 5px;
        
    }

    .Home_nav {
        margin-top:-85px;
        margin:0px;
        margin-left: 50px;
      
    }

    .main {
      display:flex;
      justify-content:center;
      margin-top:100px;
      margin-left: -400px
     
      
     
    }

    .social{
        max-height:2px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate(-300px, 0);
        margin-top: -260px;
      }
      
      .social a {
        color: #fff;
        background: #c3dbe2;
        font-size: 25px;
        font-weight: 600px;
        text-decoration: none;
        display: block;
        margin: 5px;
        padding: 20px;
        width: 300px;
        text-align: right;
        border-radius: 50px;
        transition: 1s;
        transition-property: transform;
      }
      
      .social a:hover{
        transform: translate(50px, 0);
      }
      
      .social a:nth-child(1) i{
        color: #1DA0F0;
      }
      
      .social a:nth-child(2) i{
        color: #333333;
      }
      
      .social a:nth-child(3) i{
        color:#1DA0F0 ;
        
      }
      
      .social a:nth-child(4) i{
        color: #1DA0F0;
      }

      @media only screen and (max-width:997px) {
                                  
                      .Logo {
                        font-size:30px;
                        
                    } 

                    .Welcome_text {
                      font-weight: 400;
                      font-size: 50px;
                      margin-left:5px;
                    }

                   .Home_nav {
                      margin:0px;
                      margin-top: 35px;
                      
                    }

                    .main{
                      display:block;
                      margin-top:20px;
                      margin-left:20px;
                    }

                  .img_1{
                    border-radius:100px;
                    max-width: 100px;
                    max-height: 100px;
                  }
                   
                .flex_item {
                  font-weight: 600;
                  font-size:24px;
                  letter-spacing:1px;
                } 

                .text_box  { 
                    display:block;
                    max-width:800px;
                    height:500px;
                    border-radius: 5px;
                    padding:10px;
                    margin:20px
                    
                 }
                 
                 .social{
                  max-height:50% ;
                  display: flex;
                  flex-direction:row;
                  justify-content: center;
                  transform: scale(1); 
                  margin:auto;
                  margin-left: -100px;
                  margin-top: 50px;
                  
                }
          
                  .social a {
                    background:none;
                    font-size: 25px;
                    font-weight: 600px;
                    text-decoration: none;
                    display: block;
                    padding: 20px;
                    width: 15px;
                    border-radius:50%;
                    transition-property: none;
                     
                  }

               a.grow {
                transition: all .2s ease-in-out;
               }   
        

                .text{
                  font-size: 24px;
                  margin-left: -25px;
                 
                 
                }
                .about_status_2 {
                    font-size: 24px;
                    margin-left: -25px;
                }

                    }

      @media only screen and (max-width:768px) {

                          
                  .Welcome_text {
                    font-weight: 400;
                    font-size: 30px;
                    margin-left: 15px;
                  }
                  .Logo {
                    font-size:20px;
                    
                }
                  .flex_item{
                    display:flex;
                    flex-direction:column;
                    font-size:16px;
                    padding-right: 15px;
                  }


                .main{
                  display:block;
                  margin-top:20px;
                  margin-left: 10px;
                
                }
                
                  .Home_nav {
                    margin:0px;
                    margin-top: 35px;
                    
                  }

                  .navbar {
                    display:flex;
                    flex-wrap:wrap;
                    width:100%;
                    margin-top: 30px;
                     
                  }

                .text_box  {
                    display:block;
                    max-width: 700px;
                    height:400px;
                    margin:auto;
                    margin-top:15px;
                    border-radius: 5px;
                    padding: 5px;
                    
                 }
                 

                .text{
                  font-size: 16px;
                  padding-right: 15px;
                }
                .about_status_2 {
                    font-size: 15px;
                    margin-top: -70px;

                }



                    }
    